/target
**/*.rs.bk
*.pdb
*.io
*.lock
.idea/
.vscode/

# Node specific
node_modules/
.next/
out/
build/
dist/

# User draft files
*_draft.txt
*.log
wallet.key

# Local Keys
wallet.dat

# Tools
gcc_toolchain/
wallet_app/
*.exe
*.dll
*.zip

# OS
Thumbs.db
.DS_Store
